In [2]:
#Import required libraries
import numpy as np
import pandas as pd
import sklearn
import requests
from sklearn.preprocessing import OneHotEncoder

#This is the api key
api = "2c74fd25dbbaf91b73daf87263d0b35f"

In [10]:
#gen_list is the list of all possible genres in database

x = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=2c74fd25dbbaf91b73daf87263d0b35f&language=en-US')
dfTemp = pd.json_normalize(x.json()['genres'])

gen_list = dfTemp["name"].values.tolist()

In [44]:
#Collect 20 movies at a time from disvoer api
#This loop discovers 20 new movies according to a specific year
df = pd.DataFrame([])
IDs = pd.Series([],dtype = int)

for pageNum in range(1,6):
    
    #retrieve 20 movies
    x = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=%s&language=en-US&sort_by=vote_count.desc&include_adult=false&include_video=false&page=%d&vote_count.gte=100&with_original_language=en'%(api,pageNum))
    dfTemp = pd.json_normalize(x.json()['results'])
    #store all 20 movie ids into SerTemp Series
    
    SerTemp = pd.Series(dfTemp["id"])
   
    #loop through each of the 20 movie ids one by one
    for index, ids in SerTemp.items():
        #retrieve movie detals
        y = requests.get('https://api.themoviedb.org/3/movie/%d?api_key=%s&language=en-US'%(ids,api))
        dfTemp = pd.json_normalize(y.json())
        #keep only relevant columns
        dfTemp = dfTemp[["title","release_date","budget","revenue","vote_count","vote_average","runtime","id","genres"]]
        
        #ge
        genrelist = []
        for dic in dfTemp["genres"].iloc[0]:
            genrelist.append(dic.get('name'))
        
            dfTemp.at[0,"genres"]=genrelist
    
    
            allitems = dfTemp["genres"].iloc[0]
            for gen in gen_list:
                colName = "genre_" + gen
                if gen in allitems:
                    dfTemp[colName] = 1
                else:
                    dfTemp[colName] = 0
            
        dfTemp.drop(["genres"],axis=1,inplace = True)
    
        df = pd.concat([df,dfTemp])

    adult                     backdrop_path          genre_ids      id  \
0   False  /s3TBrRGB1iav7gFOCNx3H31MoES.jpg      [28, 878, 12]   27205
1   False  /rAiYTfKGqDCRIIqo664sY9XZIvQ.jpg      [12, 18, 878]  157336
2   False  /pbEkjhdfP7yuDcMB78YEZwgD4IN.jpg   [18, 28, 80, 53]     155
3   False  /9BBTo63ANSmhC4e6r62OJFuK2GL.jpg      [878, 28, 12]   24428
4   False  /8I37NtDffNV7AZlDa7uDvvqhovU.jpg  [28, 12, 14, 878]   19995
5   False  /en971MEXui9diirXlogOrPKmsEn.jpg       [28, 12, 35]  293660
6   False  /mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg      [12, 28, 878]  299536
7   False  /hZkgoQYus5vegHoetLkCJzb17zJ.jpg       [18, 53, 35]     550
8   False  /2UFxrUHVuSK3Tth7DvQQlF4mGTd.jpg      [28, 878, 12]  118340
9   False  /suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg           [53, 80]     680
10  False  /3h1JZGDhZ8nzxdgvkxha0qBqi05.jpg    [35, 18, 10749]      13
11  False  /5jkE2SzR5uR2egEb1rRhF22JyWN.jpg           [12, 14]     671
12  False  /cyecB7godJ6kNHGONFjUyVN9OX5.jpg      [28, 878, 12]    1726
13  False  /2oZklIzUbvZXXzIFzv7Hi68d6xf.jpg           [18, 37]   68718
14  False  /wPU78OPN4BYEgWYdXyg0phMee64.jpg           [18, 80]     278
15  False  /waCRuAW5ocONRehP556vPexVXA9.jpg          [28, 878]     603
16  False  /7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg      [12, 878, 28]  299534
17  False  /3WjbxaqYB4vAbdUfdr5vbglD2JZ.jpg        [18, 10749]     597
18  False  /tqj7NKj11keFuLzPsBDMUq2dOUO.jpg       [12, 14, 28]     120
19  False  /hO7KbdvGOtDdeg0W4Y5nKEHeDDh.jpg       [80, 53, 18]  475557

   original_language                                     original_title  \
0                 en                                          Inception
1                 en                                       Interstellar
2                 en                                    The Dark Knight
3                 en                                       The Avengers
4                 en                                             Avatar
5                 en                                           Deadpool
6                 en                             Avengers: Infinity War
7                 en                                         Fight Club
8                 en                            Guardians of the Galaxy
9                 en                                       Pulp Fiction
10                en                                       Forrest Gump
11                en           Harry Potter and the Philosopher's Stone
12                en                                           Iron Man
13                en                                   Django Unchained
14                en                           The Shawshank Redemption
15                en                                         The Matrix
16                en                                  Avengers: Endgame
17                en                                            Titanic
18                en  The Lord of the Rings: The Fellowship of the Ring
19                en                                              Joker

                                             overview  popularity  \
0   Cobb, a skilled thief who commits corporate es...      88.189
1   The adventures of a group of explorers who mak...     194.103
2   Batman raises the stakes in his war on crime. ...      75.188
3   When an unexpected enemy emerges and threatens...     140.246
4   In the 22nd century, a paraplegic Marine is di...    1299.722
5   The origin story of former Special Forces oper...     110.318
6   As the Avengers and their allies have continue...     299.282
7   A ticking-time-bomb insomniac and a slippery s...      91.467
8   Light years from Earth, 26 years after being a...      37.678
9   A burger-loving hit man, his philosophical par...      76.400
10  A man with a low IQ has accomplished great thi...      76.321
11  Harry Potter has lived under the stairs at his...     266.368
12  After being held captive in an Afghan cave, bi...      99.385
13  With the help of a German bounty hunter, a fre...      53.906
14  Framed in the 1940s for the double murder of h...     109.584
15  Set in the 22nd century, The Matrix tells the ...      83.629
16  After the devastating events of Avengers: Infi...     154.251
17  101-year-old Rose DeWitt Bukater tells the sto...     152.835
18  Young hobbit Frodo Baggins, after inheriting a...     141.212
19  During the 1980s, a failed stand-up comedian i...      84.108

                         poster_path release_date  \
0   /8IB2e4r4oVhHnANbnm7O3Tj6tF8.jpg   2010-07-15
1   /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg   2014-11-05
2   /qJ2tW6WMUDux911r6m7haRef0WH.jpg   2008-07-14
3   /tYqp6vEOo8YlVWrYQvt9nyOhsA2.jpg   2012-04-25
4   /jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg   2009-12-15
5   /fSRb7vyIP8rQpL0I47P3qUsEKX3.jpg   2016-02-09
6   /7WsyChQLEftFiDOVTGkv3hFpyyt.jpg   2018-04-25
7   /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg   1999-10-15
8   /r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg   2014-07-30
9   /fIE3lAGcZDV1G6XM5KmuWnNsPp1.jpg   1994-09-10
10  /arw2vcBveWOVZr6pxd9XTd1TdQa.jpg   1994-06-23
11  /wuMc08IPKEatf9rnMNXvIDxqP4W.jpg   2001-11-16
12  /78lPtwv72eTNqFW9COBYI0dWDJa.jpg   2008-04-30
13  /7oWY8VDWW7thTzWh3OKYRkWUlD5.jpg   2012-12-25
14  /hBcY0fE9pfXzvVaY4GKarweriG2.jpg   1994-09-23
15  /f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg   1999-03-30
16  /or06FN3Dka5tukK1e9sl16pB3iy.jpg   2019-04-24
17  /9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg   1997-11-18
18  /6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg   2001-12-18
19  /udDclJoHjfjb8Ekgsd4FDteOkCU.jpg   2019-10-01

                                                title  video  vote_average  \
0                                           Inception  False           8.4
1                                        Interstellar  False           8.4
2                                     The Dark Knight  False           8.5
3                                        The Avengers  False           7.7
4                                              Avatar  False           7.6
5                                            Deadpool  False           7.6
6                              Avengers: Infinity War  False           8.3
7                                          Fight Club  False           8.4
8                             Guardians of the Galaxy  False           7.9
9                                        Pulp Fiction  False           8.5
10                                       Forrest Gump  False           8.5
11           Harry Potter and the Philosopher's Stone  False           7.9
12                                           Iron Man  False           7.6
13                                   Django Unchained  False           8.2
14                           The Shawshank Redemption  False           8.7
15                                         The Matrix  False           8.2
16                                  Avengers: Endgame  False           8.3
17                                            Titanic  False           7.9
18  The Lord of the Rings: The Fellowship of the Ring  False           8.4
19                                              Joker  False           8.2

    vote_count
0        33059
1        30378
2        29058
3        28104
4        28079
5        27872
6        26180
7        25703
8        25441
9        24536
10       24040
11       23964
12       23858
13       23588
14       23161
15       22715
16       22530
17       22171
18       22162
19       22069
    adult                     backdrop_path            genre_ids      id  \
0   False   /U8QRD7jvTXEYsUXq74IFKaSiL5.jpg       [18, 53, 9648]   11324
1   False  /lXhgCODAbBXL5buk9yEmTpOoOgR.jpg         [12, 14, 28]     122
2   False  /br7n8b3ELexcvs6l30IH2x9P2ux.jpg         [80, 18, 35]  106646
3   False  /6YwkGolwdOMNpbTOmLjoehlVWs5.jpg        [28, 12, 878]   99861
4   False  /wdwcOBMkt3zmPQuEMxB3FUtMio2.jpg        [12, 28, 878]  271110
5   False   /Yrpb32j3eMpMVX7ND3TnOkHnbl.jpg     [28, 80, 18, 53]   49026
6   False  /tKa1gmGKAUVYnflYcadipeL3d9h.jpg        [28, 12, 878]   68721
7   False  /b6ZJZHUdMEFECvGiDpJjlfUWela.jpg        [28, 12, 878]  284054
8   False  /nlCHUWjY9XWbuEUQauCBgnY8ymF.jpg        [28, 12, 878]   76341
9   False  /qUv51IFUvVRAP2379ThmA3eLJx6.jpg         [28, 12, 14]  284052
10  False  /3kz6mLESBmdxAJwoHMS5YYfoWLE.jpg        [878, 12, 14]   70160
11  False  /1Jpkm9qZcsT0mSyVXgs4VlGjPNI.jpg  [18, 28, 53, 10752]   16869
12  False  /fn4n6uOYcB6Uh89nbNPoU2w80RV.jpg    [28, 12, 878, 18]  315635
13  False  /1Nn2aBWB1x91GmvFm9F5SM2nQl3.jpg         [28, 12, 14]  297761
14  False  /yFuKvT4Vm3sKHdFY4eG6I4ldAnn.jpg        [28, 12, 878]    1771
15  False  /1stUIsjawROZxjiCMtqqXqgfZWC.jpg             [12, 14]     672
16  False  /kWYfW2Re0rUDE6IHhy4CRuKWeFr.jpg         [12, 14, 28]     121
17  False  /1wOu8rdvPxU1ObHi20VcRhfNpbo.jpg         [12, 14, 28]   10195
18  False  /aJn9XeesqsrSLKcHfHP4u5985hn.jpg        [12, 28, 878]  283995
19  False  /obKmfNexgL4ZP5cAmzdL4KbHHYX.jpg             [12, 14]     673

   original_language                                 original_title  \
0                 en                                 Shutter Island
1                 en  The Lord of the Rings: The Return of the King
2                 en                        The Wolf of Wall Street
3                 en                        Avengers: Age of Ultron
4                 en                     Captain America: Civil War
5                 en                          The Dark Knight Rises
6                 en                                     Iron Man 3
7                 en                                  Black Panther
8                 en                             Mad Max: Fury Road
9                 en                                 Doctor Strange
10                en                               The Hunger Games
11                en                           Inglourious Basterds
12                en                         Spider-Man: Homecoming
13                en                                  Suicide Squad
14                en             Captain America: The First Avenger
15                en        Harry Potter and the Chamber of Secrets
16                en          The Lord of the Rings: The Two Towers
17                en                                           Thor
18                en                 Guardians of the Galaxy Vol. 2
19                en       Harry Potter and the Prisoner of Azkaban

                                             overview  popularity  \
0   World War II soldier-turned-U.S. Marshal Teddy...      51.651
1   Aragorn is revealed as the heir to the ancient...      98.131
2   A New York stockbroker refuses to cooperate in...     117.768
3   When Tony Stark tries to jumpstart a dormant p...     115.282
4   Following the events of Age of Ultron, the col...     100.466
5   Following the death of District Attorney Harve...      73.455
6   When Tony Stark's world is torn apart by a for...      69.210
7   King T'Challa returns home to the reclusive, t...     154.569
8   An apocalyptic story set in the furthest reach...      71.933
9   After his career is destroyed, a brilliant but...      79.589
10  Every year in the ruins of what was once North...      36.943
11  In Nazi-occupied France during World War II, a...      67.546
12  Following the events of Captain America: Civil...     113.712
13  From DC Comics comes the Suicide Squad, an ant...      50.049
14  During World War II, Steve Rogers is a sickly ...      59.600
15  Cars fly, trees fight back, and a mysterious h...     184.558
16  Frodo and Sam are trekking to Mordor to destro...      86.288
17  Against his father Odin's will, The Mighty Tho...      77.147
18  The Guardians must fight to keep their newfoun...      68.851
19  Year three at Hogwarts means new fun and chall...     185.339

                         poster_path release_date  \
0   /kve20tXwUZpu4GUX8l6X7Z4jmL6.jpg   2010-02-14
1   /rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg   2003-12-01
2   /34m2tygAYBGqA9MXKhRDtzYd4MR.jpg   2013-12-25
3   /4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg   2015-04-22
4   /rAGiXaUfPzY7CDEyNKUofk3Kw2e.jpg   2016-04-27
5   /85cWkCVftiVs0BVey6pxX8uNmLt.jpg   2012-07-16
6   /qhPtAc1TKbMPqNvcdXSOn9Bn7hZ.jpg   2013-04-18
7   /uxzzxijgPIY7slzFvMotPv8wjKA.jpg   2018-02-13
8   /8tZYtuWezp8JbcsvHYO0O46tFbo.jpg   2015-05-13
9   /uGBVj3bEbCoZbDjjl9wTxcygko1.jpg   2016-10-25
10  /mgZKtOvxtDX5HtUa5fAVQ5d1Afh.jpg   2012-03-12
11  /7sfbEnaARXDDhKm0CZ7D7uc2sbo.jpg   2009-08-19
12  /c24sv2weTHPsmDa7jEMN0m2P3RT.jpg   2017-07-05
13  /xFw9RXKZDvevAGocgBK0zteto4U.jpg   2016-08-03
14  /vSNxAJTlD0r02V9sPYpOjqDZXUK.jpg   2011-07-22
15  /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg   2002-11-13
16  /5VTN0pR8gcqV3EPUHHfMGnJYN9L.jpg   2002-12-18
17  /prSfAi1xGrhLQNxVSUFh61xQ4Qy.jpg   2011-04-21
18  /y4MBh0EjBlMuOzv9axM4qJlmhzz.jpg   2017-04-19
19  /aWxwnYoe8p2d2fcxOqtvAtJ72Rw.jpg   2004-05-31

                                            title  video  vote_average  \
0                                  Shutter Island  False           8.2
1   The Lord of the Rings: The Return of the King  False           8.5
2                         The Wolf of Wall Street  False           8.0
3                         Avengers: Age of Ultron  False           7.3
4                      Captain America: Civil War  False           7.4
5                           The Dark Knight Rises  False           7.8
6                                      Iron Man 3  False           6.9
7                                   Black Panther  False           7.4
8                              Mad Max: Fury Road  False           7.6
9                                  Doctor Strange  False           7.4
10                               The Hunger Games  False           7.2
11                           Inglourious Basterds  False           8.2
12                         Spider-Man: Homecoming  False           7.4
13                                  Suicide Squad  False           5.9
14             Captain America: The First Avenger  False           7.0
15        Harry Potter and the Chamber of Secrets  False           7.7
16          The Lord of the Rings: The Two Towers  False           8.4
17                                           Thor  False           6.8
18                 Guardians of the Galaxy Vol. 2  False           7.6
19       Harry Potter and the Prisoner of Azkaban  False           8.0

    vote_count
0        21128
1        20994
2        20989
3        20871
4        20726
5        20426
6        20289
7        20219
8        20182
9        20092
10       19904
11       19730
12       19565
13       19492
14       19478
15       19280
16       19266
17       19234
18       19182
19       18939
    adult                     backdrop_path                genre_ids      id  \
0   False  /7lmBufEG7P7Y1HClYK3gCxYrkgS.jpg            [12, 28, 878]   10138
1   False  /aIGIYJTyOkEVUmEd3z5x6diYsFx.jpg        [28, 12, 878, 53]  135397
2   False  /kaIfm5ryEOwYg8mLbq8HkPuM1Fo.jpg    [28, 12, 14, 878, 35]  284053
3   False  /ew5FcYiRhTYNJAkxoVPMNlCOdVn.jpg             [28, 80, 18]     272
4   False  /jJKZaTBNenlFclQyjrnvzkRmvWE.jpg  [16, 10751, 12, 18, 35]  150540
5   False  /uRNgkJSkNBFbbn9fPsEjDIy8Sh3.jpg             [12, 14, 28]      22
6   False  /AaABt75ZzfMGrscUR2seabz4PEX.jpg             [28, 12, 14]  297762
7   False  /hh28CTWLdxTXA5yJgefZ6gUnFDo.jpg           [80, 9648, 53]     807
8   False  /5rrGVmRUuCKVbqUu41XIWTXJmNA.jpg          [12, 14, 10751]     674
9   False  /n5A7brJCjejceZmHyujwUTVgQNC.jpg                 [14, 12]   12445
10  False  /aDYSnJAK0BTVeE8osOy22Kz3SXY.jpg            [12, 28, 878]      11
11  False  /hGGC9gKo7CFE3fW07RA587e5kol.jpg      [16, 35, 10751, 12]   14160
12  False  /a7sAqMKv5tkAdMzFfIhPqIBmQ9g.jpg            [878, 28, 12]  102899
13  False  /3dPhs7hUnQLphDFzdkD407VZDYo.jpg            [18, 12, 878]  286217
14  False  /k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg        [12, 28, 878, 14]  140607
15  False  /5bzPWQ2dFUl2aZKkp7ILJVVkRed.jpg            [12, 35, 878]     105
16  False  /9X7YweCJw3q8Mcf6GadxReFEksM.jpg            [28, 18, 878]  263115
17  False  /tmU7GeKVybMWFButWEGl2M4GeiP.jpg                 [18, 80]     238
18  False  /8Qsr8pvDL3s1jNZQ4HK1d1Xlvnh.jpg             [28, 12, 14]  259316
19  False  /yzqaKAhglTrkeOfuIXYYArf0WnA.jpg              [16, 10751]      12

   original_language                                     original_title  \
0                 en                                         Iron Man 2
1                 en                                     Jurassic World
2                 en                                     Thor: Ragnarok
3                 en                                      Batman Begins
4                 en                                         Inside Out
5                 en  Pirates of the Caribbean: The Curse of the Bla...
6                 en                                       Wonder Woman
7                 en                                              Se7en
8                 en                Harry Potter and the Goblet of Fire
9                 en       Harry Potter and the Deathly Hallows: Part 2
10                en                                          Star Wars
11                en                                                 Up
12                en                                            Ant-Man
13                en                                        The Martian
14                en                       Star Wars: The Force Awakens
15                en                                 Back to the Future
16                en                                              Logan
17                en                                      The Godfather
18                en            Fantastic Beasts and Where to Find Them
19                en                                       Finding Nemo

                                             overview  popularity  \
0   With the world now aware of his dual life as t...     109.339
1   Twenty-two years after the events of Jurassic ...     101.243
2   Thor is imprisoned on the other side of the un...     107.354
3   Driven by tragedy, billionaire Bruce Wayne ded...      50.189
4   Growing up can be a bumpy road, and it's no ex...      94.537
5   Jack Sparrow, a freewheeling 18th-century pira...     106.523
6   An Amazon princess comes to the world of Man i...      58.015
7   Two homicide detectives are on a desperate hun...      55.812
8   When Harry Potter's name emerges from the Gobl...     179.798
9   Harry, Ron and Hermione continue their quest t...     152.040
10  Princess Leia is captured and held hostage by ...      88.761
11  Carl Fredricksen spent his entire life dreamin...      93.704
12  Armed with the astonishing ability to shrink i...      66.135
13  During a manned mission to Mars, Astronaut Mar...      53.245
14  Thirty years after defeating the Galactic Empi...      63.204
15  Eighties teenager Marty McFly is accidentally ...      59.758
16  In the near future, a weary Logan cares for an...      77.925
17  Spanning the years 1945 to 1955, a chronicle o...     104.313
18  In 1926, Newt Scamander arrives at the Magical...      77.861
19  Nemo, an adventurous young clownfish, is unexp...     106.366

                         poster_path release_date  \
0   /6WBeq4fCfn7AN0o21W9qNcRF2l9.jpg   2010-04-28
1   /rhr4y79GpxQF9IsfJItRXVaoGs4.jpg   2015-06-12
2   /rzRwTcFvttcN1ZpX2xv4j3tSdJu.jpg   2017-10-24
3   /8RW2runSEc34IwKN2D1aPcJd2UL.jpg   2005-06-10
4   /2H1TmgdfNtsKlU9jKdeNyYL5y8T.jpg   2015-06-09
5   /z8onk7LV9Mmw6zKz4hT6pzzvmvl.jpg   2003-07-09
6   /imekS7f1OuHyUP2LAiTEM0zBzUz.jpg   2017-05-30
7   /69Sns8WoET6CfaYlIkHbla4l7nC.jpg   1995-09-22
8   /fECBtHlr0RB3foNHDiCBXeg9Bv9.jpg   2005-11-16
9   /c54HpQmuwXjHq2C9wmoACjxoom3.jpg   2011-07-07
10  /6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg   1977-05-25
11  /vpbaStTMt8qqXaEgnOR2EE4DNJk.jpg   2009-05-28
12  /4FoaB98wCsfWtLqoeDFvKc5CVqf.jpg   2015-07-14
13  /5BHuvQ6p9kfc091Z8RiFNhCwL4b.jpg   2015-09-30
14  /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg   2015-12-15
15  /fNOH9f1aA7XRTzl1sAOx9iF553Q.jpg   1985-07-03

In [28]:
df

,title,release_date,budget,revenue,vote_count,vote_average,runtime,id,genre_Action,genre_Adventure,...,genre_History,genre_Horror,genre_Music,genre_Mystery,genre_Romance,genre_Science Fiction,genre_TV Movie,genre_Thriller,genre_War,genre_Western
0,Inception,2010-07-15,160000000,825532764,33060,8.361,148,27205,1,1,...,0,0,0,0,0,1,0,0,0,0
0,Interstellar,2014-11-05,165000000,701729206,30381,8.388,169,157336,0,1,...,0,0,0,0,0,1,0,0,0,0
0,The Dark Knight,2008-07-14,185000000,1004558444,29059,8.506,152,155,1,0,...,0,0,0,0,0,0,0,1,0,0
0,The Avengers,2012-04-25,220000000,1518815515,28106,7.707,143,24428,1,1,...,0,0,0,0,0,1,0,0,0,0
0,Avatar,2009-12-15,237000000,2920357254,28085,7.566,162,19995,1,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,The Green Mile,1999-12-10,60000000,286801374,14949,8.507,189,497,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Frozen,2013-11-20,150000000,1274219009,14904,7.249,102,109445,0,1,...,0,0,0,0,0,0,0,0,0,0
0,La La Land,2016-11-29,30000000,447407695,14888,7.885,129,313369,0,0,...,0,0,1,0,1,0,0,0,0,0
0,Ratatouille,2007-06-28,150000000,623726000,14839,7.792,111,2062,0,0,...,0,0,0,0,0,0,0,0,0,0
0,Shrek,2001-05-18,60000000,487853320,14807,7.711,90,808,0,1,...,0,0,0,0,0,0,0,0,0,0

In [50]:
#This loop discovers 20 new movies according to a specific year

def get_clean_data(year = 2010, api = api, vote_count_min = 100):    
    df = pd.DataFrame([])
    IDs = pd.Series([],dtype = int)
    
    #retrieve the total number of pages that have movies that fit 
    x = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=%s&primary_release_year=%d&language=en-US&sort_by=vote_count.desc&include_adult=false&vote_count.gte=%d&include_video=false&page=%d&with_original_language=en'%(api,year,vote_count_min,1))
    totalPages = pd.json_normalize(x.json())["total_pages"].iloc[0]
    
    #print(totalPages)

    for pageNum in range(1,totalPages+1):
        #print(pageNum)
        #retrieve 20 movies
        x = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=%s&primary_release_year=%d&language=en-US&sort_by=vote_count.desc&include_adult=false&include_video=false&page=%d&vote_count.gte=%d&with_original_language=en'%(api,year,pageNum,vote_count_min))
        dfTemp = pd.json_normalize(x.json()['results'])
        #store all 20 movie ids into SerTemp Series
        SerTemp = pd.Series(dfTemp["id"])

        #loop through each of the 20 movie ids one by one
        for index, ids in SerTemp.items():
            #retrieve movie detals
            y = requests.get('https://api.themoviedb.org/3/movie/%d?api_key=%s&language=en-US'%(ids,api))
            dfTemp = pd.json_normalize(y.json())
            #keep only relevant columns
            dfTemp = dfTemp[["title","release_date","budget","revenue","vote_count","vote_average","runtime","id","genres"]]

            #ge
            genrelist = []
            for dic in dfTemp["genres"].iloc[0]:
                genrelist.append(dic.get('name'))

                dfTemp.at[0,"genres"]=genrelist


                allitems = dfTemp["genres"].iloc[0]
                for gen in gen_list:
                    colName = "genre_" + gen
                    if gen in allitems:
                        dfTemp[colName] = 1
                    else:
                        dfTemp[colName] = 0

            dfTemp.drop(["genres"],axis=1,inplace = True)

            df = pd.concat([df,dfTemp])
    
    return df

In [55]:
df2 = get_clean_data(2009,vote_count_min=10)

In [56]:
dfnew = df