In [3]:
import numpy as np
import pandas as pd
import sklearn
import requests
from sklearn.preprocessing import OneHotEncoder
api = "2c74fd25dbbaf91b73daf87263d0b35f"

In [2]:
var = pd.DataFrame([1,2,3])

In [3]:
print(var)

   0
0  1
1  2
2  3

In [7]:
#Find the top 100 movies by popularity released in 2015 and store it into variable df
df = pd.DataFrame()
for pageNum in range(1,6):
    
    x = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=2c74fd25dbbaf91b73daf87263d0b35f&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=%d&primary_release_year=2015&with_watch_monetization_types=flatrate'%(pageNum))
    dfTemp = pd.json_normalize(x.json()['results'])
    df = pd.concat([df,dfTemp])

   page                                            results  total_pages  \
0     1  [{'adult': False, 'backdrop_path': '/gnxQpCncP...         1086

   total_results
0          21717
   page                                            results  total_pages  \
0     2  [{'adult': False, 'backdrop_path': '/4mcOCiR06...         1086

   total_results
0          21717
   page                                            results  total_pages  \
0     3  [{'adult': False, 'backdrop_path': '/jqVFrhFLq...         1086

   total_results
0          21717
   page                                            results  total_pages  \
0     4  [{'adult': False, 'backdrop_path': '/5cnbmWWnz...         1086

   total_results
0          21717
   page                                            results  total_pages  \
0     5  [{'adult': False, 'backdrop_path': '/7fdy9iThI...         1086

   total_results
0          21717

In [5]:
print(df.head(30))

    adult                     backdrop_path                genre_ids      id  \
0   False  /gnxQpCncPcL8BgjabLQMrBh4Lmj.jpg          [18, 10749, 53]  216015
1   False                              None                     [18]  355651
2   False  /jJKZaTBNenlFclQyjrnvzkRmvWE.jpg  [16, 10751, 12, 18, 35]  150540
3   False  /6YwkGolwdOMNpbTOmLjoehlVWs5.jpg            [28, 12, 878]   99861
4   False  /lw4Semx1gAQHT7DHIYw8wm9M5fE.jpg             [16, 28, 35]  347201
5   False  /xtHonIIIQXverDQM08TMQXjn9Fe.jpg                 [35, 14]  214756
6   False  /kIgfFzjjBNgx6Tr2LCw8Zkq921s.jpg            [28, 16, 878]  303857
7   False                              None                 [28, 16]  370455
8   False  /g4a5YLWwi6OCp8TcvxsUNrXMbN5.jpg        [878, 28, 53, 12]   87101
9   False  /7MXxVfzj77qA6aV3cOnj1AZnyDg.jpg                  [10749]  390845
10  False  /qX5T5GVAcq2UKaaiAx5SZp1AtlY.jpg            [80, 28, 878]  198184
11  False  /cHkhb5A4gQRK6zs6Pv7zorHs8Nk.jpg         [28, 53, 80, 12]  168259
12  False  /q7vmCCmyiHnuKGMzHZlr0fD44b9.jpg   [10749, 14, 10751, 18]  150689
13  False  /ipjZVitWMjrVd2hoWKU2waVdxGy.jpg             [28, 18, 53]  254128
14  False  /aIGIYJTyOkEVUmEd3z5x6diYsFx.jpg        [28, 12, 878, 53]  135397
15  False  /a7sAqMKv5tkAdMzFfIhPqIBmQ9g.jpg            [878, 28, 12]  102899
16  False  /nlCHUWjY9XWbuEUQauCBgnY8ymF.jpg            [28, 12, 878]   76341
17  False  /meeileDF37uB8ykIs4iFb713ABO.jpg             [28, 80, 53]  273481
18  False  /kODNw6GJNdgldUMEhKPlCw8wQCr.jpg                 [18, 28]  312221
19  False  /qzUIOTk0E3F1zjvYjcBRTKUTgf9.jpg         [80, 35, 28, 12]  207703
0   False  /4mcOCiR06dqQ5eoEJcG3zvonjOa.jpg        [878, 28, 53, 12]  294254
1   False  /nKDvDVSaFFBrQr0NoPiyasEN8Mk.jpg            [28, 12, 878]  131634
2   False  /qiFse005acXSGGTZcETuVemJiSg.jpg     [28, 16, 12, 35, 14]  373879
3   False  /k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg        [12, 28, 878, 14]  140607
4   False  /cF3H9pyUF6dsvqlYUcH0TyBAMTG.jpg          [12, 16, 10751]  105864
5   False  /aq6DuCC3k3iOoUBNrlTLyQCeoAL.jpg                 [35, 28]  325358
6   False  /xPq3LDgamUT1aKLTeGJk9ccwfwr.jpg                 [80, 53]  276907
7   False  /6yIdUIeAXfqUzH93CGDWHsj44AG.jpg                 [53, 27]  360784
8   False  /3gjYzFP2w2bx6srcZkfS667jnl0.jpg             [28, 80, 53]  249070
9   False  /dsxpP9qbF1PHk4j4aPjimkLTwxq.jpg            [28, 35, 878]  257344

   original_language                         original_title  \
0                 en                   Fifty Shades of Grey
1                 nl                            De leerling
2                 en                             Inside Out
3                 en                Avengers: Age of Ultron
4                 ja              BORUTO -NARUTO THE MOVIE-
5                 en                                  Ted 2
6                 ja                        ドラゴンボールZ 復活の「F」
7                 ja                    ワンパンマン ロード・トゥー・ヒーロー
8                 en                     Terminator Genisys
9                 ko                                 맛있는 비행
10                en                                Chappie
11                en                              Furious 7
12                en                             Cinderella
13                en                            San Andreas
14                en                         Jurassic World
15                en                                Ant-Man
16                en                     Mad Max: Fury Road
17                en                                Sicario
18                en                                  Creed
19                en           Kingsman: The Secret Service
0                 en         Maze Runner: The Scorch Trials
1                 en  The Hunger Games: Mockingjay - Part 2
2                 ja         ONE PIECE 〜アドベンチャー オブ ネブランディア〜
3                 en           Star Wars: The Force Awakens
4                 en                      The Good Dinosaur
5                 en                             Superfast!
6                 en                                 Legend
7                 en                                 Hidden
8                 en                       Hitman: Agent 47
9                 en                                 Pixels

                                             overview  popularity  \
0   When college senior Anastasia Steele steps in ...     148.975
1   Lana, a teacher in high school, does not know ...      99.377
2   Growing up can be a bumpy road, and it's no ex...      98.052
3   When Tony Stark tries to jumpstart a dormant p...     109.516
4   The spirited Boruto Uzumaki, son of Seventh Ho...     111.617
5   Newlywed couple Ted and Tami-Lynn want to have...     105.494
6   One peaceful day on Earth, two remnants of Fri...     115.146
7   Defeating numerous villains in the abandoned a...      87.915
8   The year is 2029. John Connor, leader of the r...      86.798
9   An innocent actress runs away from the scandal...      74.610
10  Every child comes into the world full of promi...      59.014
11  Deckard Shaw seeks revenge against Dominic Tor...      80.841
12  When her father unexpectedly passes away, youn...      72.729
13  In the aftermath of a massive earthquake in Ca...      75.478
14  Twenty-two years after the events of Jurassic ...      70.652
15  Armed with the astonishing ability to shrink i...      68.461
16  An apocalyptic story set in the furthest reach...      65.413
17  An idealistic FBI agent is enlisted by a gover...      68.874
18  The former World Heavyweight Champion Rocky Ba...      66.208
19  The story of a super-secret spy organization t...      61.339
0   Thomas and his fellow Gladers face their great...      61.266
1   With the nation of Panem in a full scale war, ...      51.977
2   Kōmei devises a plan where Zoro and Sanji take...      68.439
3   Thirty years after defeating the Galactic Empi...      53.203
4   An epic journey into the world of dinosaurs wh...      54.848
5   Undercover cop Lucas White joins Vin Serento's...      59.904
6   Suave, charming and volatile, Reggie Kray and ...      61.516
7   A family takes refuge in a fallout shelter to ...      59.553
8   An assassin teams up with a woman to help her ...      56.494
9   Video game experts are recruited by the milita...      60.272

                         poster_path release_date  \
0   /63kGofUkt1Mx0SIL4XI4Z5AoSgt.jpg   2015-02-11
1   /nVSDaawTdtyyw6cXhlKpeZXOnhj.jpg   2015-09-27
2   /2H1TmgdfNtsKlU9jKdeNyYL5y8T.jpg   2015-06-09
3   /4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg   2015-04-22
4   /1k6iwC4KaPvTBt1JuaqXy3noZRY.jpg   2015-08-07
5   /sreIxWoREoAwmahHpWsMHJgIOuj.jpg   2015-06-25
6   /soq3AxjALdBfdPAm8H7yuMmNL5Y.jpg   2015-04-18
7   /bMNkufYM0kaDRJ0OVSHF91Ftdyr.jpg   2015-12-04
8   /oZRVDpNtmHk8M1VYy1aeOWUXgbC.jpg   2015-06-23
9   /xLZQdhtdQasK2LwD86xhwe19pYG.jpg   2015-11-01
10  /hpnuXlKKWznTgbheGe4iQXzkuwJ.jpg   2015-03-04
11  /wurKlC3VKUgcfsn0K51MJYEleS2.jpg   2015-04-01
12  /ryKwNlAfDXu0do6SX9h4G9Si1kG.jpg   2015-03-12
13  /2Gfjn962aaFSD6eST6QU3oLDZTo.jpg   2015-05-27
14  /rhr4y79GpxQF9IsfJItRXVaoGs4.jpg   2015-06-12
15  /4FoaB98wCsfWtLqoeDFvKc5CVqf.jpg   2015-07-14
16  /8tZYtuWezp8JbcsvHYO0O46tFbo.jpg   2015-05-13
17  /lz8vNyXeidqqOdJW9ZjnDAMb5Vr.jpg   2015-09-17
18  /1BfTsk5VWuw8FCocAhCyqnRbEzq.jpg   2015-11-25
19  /ay7xwXn1G9fzX9TUBlkGA584rGi.jpg   2015-01-24
0   /mYw7ZyejqSCPFlrT2jHZOESZDU3.jpg   2015-09-09
1   /wb8qxuibaQHEogQm2vlOaizoViU.jpg   2015-11-18
2   /xdu9XJSHT835OoChOiwEgi9Uzjf.jpg   2015-12-20
3   /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg   2015-12-15
4   /8RSkxOO80btfKjyiC5ZiTaCHIT8.jpg   2015-11-14
5   /iuIWl90qCpoxv6g775JB6Kg0m86.jpg   2015-03-05
6   /4shf5Alq4KWCKqrAAQe0JGJHYp5.jpg   2015-09-09
7   /oiNc4aTeaUMVNkxL0UWnezmKJgM.jpg   2015-09-15
8   /52NXkgvzRYjRnqRPpqjpiwsIgRG.jpg   2015-08-20
9   /tJ1llabujSXGiKC0xv5qqJyNrSm.jpg   2015-07-16

                                    title  video  vote_average  vote_count
0                    Fifty Shades of Grey  False           5.9       10680
1                             The Student  False           4.9           5
2                              Inside Out  False           7.9       18639
3                 Avengers: Age of Ultron  False           7.3       20865
4                Boruto: Naruto the Movie  False           7.6        1169
5                                   Ted 2  False           6.3        6548
6         Dragon Ball Z: Resurrection 'F'  False           6.8        1584
7             One Punch Man: Road to Hero  False           7.9         157
8                      Terminator Genisys  False           5.9        7514
9                      A Delicious Flight  False           4.0          54
10                                Chappie  False           6.8        7158
11                              Furious 7  False           7.2        9508
12                             Cinderella  False           6.8        6445
13                            San Andreas  False           6.2        7499
14                         Jurassic World  False           6.7       18775
15                                Ant-Man  False           7.1       17876
16                     Mad Max: Fury Road  False           7.6       20178
17                                Sicario  False           7.4        7391
18                                  Creed  False           7.4        6345
19           Kingsman: The Secret Service  False           7.6       15021
0          Maze Runner: The Scorch Trials  False           6.7        9279
1   The Hunger Games: Mockingjay - Part 2  False           6.9       11039
2      One Piece: Adventure of Nebulandia  False           7.5         143
3            Star Wars: The Force Awakens  False           7.3       17688
4                       The Good Dinosaur  False           6.7        4871
5                              Superfast!  False           5.0         323
6                                  Legend  False           7.0        3331
7                                  Hidden  False           6.9         759
8                        Hitman: Agent 47  False           5.8        2666
9                                  Pixels  False           5.7        6737

In [8]:
print(df.columns)

Index(['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
C=['adult', 'backdrop_path', 'genre_ids', 'id', 'original_language',
   'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'title', 'video', 'vote_average', 'vote_count']

In [25]:
pageNum = 3
x = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=2c74fd25dbbaf91b73daf87263d0b35f&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=%d&primary_release_year=2015&with_watch_monetization_types=flatrate'%(pageNum))

#print(x.text);

In [6]:
#print(x.json()['results'])
pd.json_normalize(x.json()['results'])

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/7fdy9iThI5qfJ9WMra8SrdvQs02.jpg,"[28, 12, 80, 53]",257088,en,Point Break,A young undercover FBI agent infiltrates a gan...,29.270,/z7JOvw5Lqs9ezoFTJxmz3nx3av2.jpg,2015-12-03,Point Break,False,5.9,2038
1,False,/i7UCf0ysjbYYaqcSKUox9BJz4Kp.jpg,"[35, 18]",318846,en,The Big Short,The men who made millions from a global econom...,30.619,/isuQWbJPbjybBEWdcCaBUPmU0XO.jpg,2015-12-11,The Big Short,False,7.3,7885
2,False,/c4vArFoyluY4XyBkSZe2kgae613.jpg,[27],243688,en,Poltergeist,A family's suburban home is invaded by angry s...,30.050,/A1ymtbzatZp94Z49ZOBb8JGXOBB.jpg,2015-05-20,Poltergeist,False,5.2,2060
3,False,/ckjIV9X3GuYVM49TDBunTvCx3rx.jpg,[10749],359289,ko,맛 2,Heon-sub is in his third year of cooking major...,32.131,/eX0Wdm9hy7qjrCSTBAX5CwdbzfC.jpg,2015-09-02,Taste 2,False,5.6,5
4,False,/poRKW1DNzNXfZQPPSGDVaRcwN7a.jpg,"[10751, 10770, 16]",359983,en,The Lion Guard: Return of the Roar,"Set in the African savannah, the film follows ...",31.432,/duqg6CiSik02nSXjiQHo8TcwY4b.jpg,2015-11-22,The Lion Guard: Return of the Roar,False,6.6,1127
5,False,/ugXEDHKGNUAp1ma4x7JOUCSmAXs.jpg,"[12, 16, 14, 10751]",309809,en,The Little Prince,Based on the best-seller book 'The Little Prin...,23.338,/je5Z7gbFTzrs3FPHINo9yGiHoVo.jpg,2015-07-29,The Little Prince,False,7.6,2492
6,False,/cb1R4VdM0FkacQ8AYjuK9Qe6Lpl.jpg,"[28, 80, 9648]",241554,en,Run All Night,Brooklyn mobster and prolific hit man Jimmy Co...,26.037,/frzdzHceByAIlwVKvSvY9zqpjyV.jpg,2015-03-11,Run All Night,False,6.4,2517
7,False,/jZj6cGNWxggM5tA6hDxPAuqzv5I.jpg,"[12, 10751, 9648, 878]",158852,en,Tomorrowland,"Bound by a shared destiny, a bright, optimisti...",26.030,/kziYpr5Nfw60P0My8aj1sgCEqed.jpg,2015-05-19,Tomorrowland,False,6.2,6370
8,False,None,[35],350640,es,Sexo limpio,Mariana has an obsessive cleaning habit. After...,25.501,/57zuiN6e8D82p15HsHV9JxwKxhJ.jpg,2015-07-19,Clean Sex,False,7.4,15
9,False,/keSpEdNRKB1MW3zLcpz2AxPWVBJ.jpg,"[28, 12, 16, 18, 10751, 14]",315465,ja,バケモノの子,"Kyuta, a boy living in Shibuya, and Kumatetsu,...",24.727,/zWG1MfusMOR4CXMsBxWhGFC4TkQ.jpg,2015-07-11,The Boy and the Beast,False,8.0,1287
10,False,/e3xcYVsoR5dfVM0kq1l0BTkSgzJ.jpg,[53],192141,en,No Escape,"In their new overseas home, an American family...",25.007,/6WLnzTG4Hz3lFvfZGSsyB8NFGgM.jpg,2015-08-26,No Escape,False,6.9,2228
11,False,/rnNkUJlo03a8D0utxiOrADstaMT.jpg,"[12, 36]",300168,zh,天將雄師,"Huo An, the commander of the Protection Squad ...",20.680,/suTAWYLIHAnkH2V4nC8t3AG7HjR.jpg,2015-02-19,Dragon Blade,False,6.3,480
12,False,/edeAsyMfRYmNmFUIG1WzK7gcM1y.jpg,"[878, 9648, 53, 28]",238615,en,Self/less,An extremely wealthy elderly man dying from ca...,19.757,/b03zZZTE17iH6klsInFOlrgfYRN.jpg,2015-07-10,Self/less,False,6.4,2763
13,False,/m4JzTSFDqWnvLkjTKIm4kyDXbTO.jpg,"[12, 18, 36]",253412,en,Everest,Inspired by the incredible events surrounding ...,27.354,/4xmndWnTYTE4bDdlWrkZyaGcZlo.jpg,2015-09-10,Everest,False,6.8,4371
14,False,/9q11rNi2hCla4KoiqQq3IRTMPHL.jpg,"[10752, 18, 10749]",332270,ru,Битва за Севастополь,"The story of Lyudmila Pavlichenko, the most su...",22.103,/6PXb2TxEFzmi1FbJIV0NOLdhW9M.jpg,2015-04-02,Battle for Sevastopol,False,7.4,375
15,False,/9PGAa5K8NkGsDCY0ui2trtu3JXq.jpg,"[27, 53, 9648]",298312,en,The Visit,A brother and sister are sent to their grandpa...,22.999,/tpB9RXP9x7Rg59xCghPtOWnYJVl.jpg,2015-09-10,The Visit,False,6.3,4121
16,False,/7oX9Sk51Bd7efCzkQ92INHTLx3r.jpg,[35],252838,en,The Wedding Ringer,Doug Harris is a loveable but socially awkward...,26.732,/nh9VKA4LEPKkoCljnDNHtSIhKbF.jpg,2015-01-16,The Wedding Ringer,False,6.5,1425
17,False,/ikIQVTPOBUIEpOZAA3IU6LI94E2.jpg,"[878, 27]",282070,ja,寄生獣 完結編,"Alien pods come to Earth and, naturally, start...",22.592,/qO8zQ9dSADWiwRnR7oCOsPDuOom.jpg,2015-04-25,Parasyte: Part 2,False,7.0,138
18,False,/tJMvfYI2m6npeKRU9rAlLNTLlIj.jpg,"[10749, 35, 80, 18]",256591,en,Focus,"Nicky, an accomplished con artist, gets romant...",24.755,/dUg8JUT4qkOj9g0XAXrfvOuHFNm.jpg,2015-02-25,Focus,False,6.9,7002
19,False,/bV7eAcBrYb57PwjpQ2ODT6VyFPd.jpg,[99],318256,en,Hot Girls Wanted,A first-ever look at the realities of the prof...,28.540,/75ot83QOkc02vujyzmIbumQCU6Y.jpg,2015-05-29,Hot Girls Wanted,False,6.0,526

In [4]:
#Collect 20 movies at a time from disvoer api
IDs = pd.Series([],dtype = int)
for pageNum in range(1,6):
    
    x = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=%s&language=en-US&sort_by=vote_count.desc&include_adult=false&include_video=false&page=%d&vote_count.gte=100&with_original_language=en'%(api,pageNum))
    dfTemp = pd.json_normalize(x.json()['results'])
    SerTemp = pd.Series(dfTemp["id"])
    
    #for id in SerTemp:
     #   y = requests.get('https://api.themoviedb.org/3/movie/%d?api_key=%s&language=en-US'%(id,api))
        
    
    IDs = pd.concat([IDs,SerTemp])

In [3]:
IDs

0      27205
1     157336
2        155
3      24428
4      19995
       ...
15       497
16    109445
17    313369
18      2062
19       808
Length: 100, dtype: int64

In [26]:
df = pd.DataFrame()
for index, ids in IDs.head(10).items():
    y = requests.get('https://api.themoviedb.org/3/movie/%d?api_key=%s&language=en-US'%(ids,api))
    dfTemp = pd.json_normalize(y.json())
    
    dfTemp = dfTemp[["title","release_date","budget","revenue","vote_count","vote_average","runtime","id","genres"]]
    #dfTemp.reset_index(inplace=True)
    #print(dfTemp)
    #print("hello")
    
    genrelist = []
    for dic in dfTemp["genres"].iloc[0]:
        genrelist.append(dic.get('name'))
        
    dfTemp["genres"].iloc[0] = genrelist
    
    #dfTemp has a list of genres in the genres column now
    #I need to create new columns with a for loop and fill them with 1 or 0
    
    #genredf = pd.DataFrame(columns = gen_list)
    #genredf.add_prefixx("genre_")
    allitems = dfTemp["genres"].iloc[0]
    for gen in gen_list:
        colName = "genre_" + gen
        if gen in allitems:
            dfTemp[colName] = 1
        else:
            dfTemp[colName] = 0
        
    dfTemp.drop(["genres"],axis=1,inplace = True)
    
    df = pd.concat([df,dfTemp])

In [27]:
df

,title,release_date,budget,revenue,vote_count,vote_average,runtime,id,genre_Action,genre_Adventure,...,genre_History,genre_Horror,genre_Music,genre_Mystery,genre_Romance,genre_Science Fiction,genre_TV Movie,genre_Thriller,genre_War,genre_Western
0,Inception,2010-07-15,160000000,825532764,33060,8.361,148,27205,1,1,...,0,0,0,0,0,1,0,0,0,0
0,Interstellar,2014-11-05,165000000,701729206,30381,8.388,169,157336,0,1,...,0,0,0,0,0,1,0,0,0,0
0,The Dark Knight,2008-07-14,185000000,1004558444,29059,8.506,152,155,1,0,...,0,0,0,0,0,0,0,1,0,0
0,The Avengers,2012-04-25,220000000,1518815515,28106,7.707,143,24428,1,1,...,0,0,0,0,0,1,0,0,0,0
0,Avatar,2009-12-15,237000000,2920357254,28085,7.566,162,19995,1,1,...,0,0,0,0,0,1,0,0,0,0
0,Deadpool,2016-02-09,58000000,783100000,27873,7.602,108,293660,1,1,...,0,0,0,0,0,0,0,0,0,0
0,Avengers: Infinity War,2018-04-25,300000000,2046239637,26185,8.264,149,299536,1,1,...,0,0,0,0,0,1,0,0,0,0
0,Fight Club,1999-10-15,63000000,100853753,25703,8.432,139,550,0,0,...,0,0,0,0,0,0,0,1,0,0
0,Guardians of the Galaxy,2014-07-30,170000000,772776600,25441,7.904,121,118340,1,1,...,0,0,0,0,0,1,0,0,0,0
0,Pulp Fiction,1994-09-10,8000000,214179088,24539,8.490,154,680,0,0,...,0,0,0,0,0,0,0,1,0,0

In [13]:
#gen_list is the list of genres

x = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=2c74fd25dbbaf91b73daf87263d0b35f&language=en-US')
dfTemp = pd.json_normalize(x.json()['genres'])

gen_list = dfTemp["name"].values.tolist()

In [12]:

for row in df.iterrows:
    allitems = row.genres
    for i in gen_list:
        if i in allitems:
            row[i] = 1
        else:
            row[i]= 0

TypeError: 'method' object is not iterable

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
genrelist = []
for dic in df["genres"].ilo
    idlist.append(dic.get('name'))
    df["genres"].iloc[0] = genrelist
    
df

In [48]:
genrelist = []
for dic in df["genres"].iloc[0]:
    genrelist.append(dic.get('name'))
    df["genres"].iloc[0] = genrelist
    
df

C:\Users\harun\AppData\Local\Temp\ipykernel_28516\2202433859.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["genres"].iloc[0] = genrelist

,title,release_date,budget,revenue,vote_count,vote_average,runtime,id,genres
0,Inception,2010-07-15,160000000,825532764,33060,8.361,148,27205,"[Action, Science Fiction, Adventure]"
0,Interstellar,2014-11-05,165000000,701729206,30381,8.388,169,157336,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '..."
0,The Dark Knight,2008-07-14,185000000,1004558444,29059,8.506,152,155,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name..."
0,The Avengers,2012-04-25,220000000,1518815515,28106,7.707,143,24428,"[{'id': 878, 'name': 'Science Fiction'}, {'id'..."
0,Avatar,2009-12-15,237000000,2920357254,28085,7.566,162,19995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
0,Deadpool,2016-02-09,58000000,783100000,27873,7.602,108,293660,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
0,Avengers: Infinity War,2018-04-25,300000000,2046239637,26185,8.264,149,299536,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '..."
0,Fight Club,1999-10-15,63000000,100853753,25703,8.432,139,550,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name..."
0,Guardians of the Galaxy,2014-07-30,170000000,772776600,25441,7.904,121,118340,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na..."
0,Pulp Fiction,1994-09-10,8000000,214179088,24539,8.490,154,680,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n..."

In [19]:
idlist

['Action', 'Science Fiction', 'Adventure']